# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ConsoleApp2.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\projects\ConsoleApp2\.idea\.idea.ConsoleApp2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
